div.jGrowl.center {
  top: 10px !important;
}

div.jGrowl.bottom-center {
  bottom: 0;
  width: 50%;
  left: 25%;
}

div.bottom-center div.jGrowl-notification {
	margin-left: 		auto;
	margin-right: 		auto;
}

.jGrowl-notification.jirachivements {
  height: 60px;
}

.jGrowl-notification .achievement-image {
  float: left;
  padding: 0px 10px;
}

.jGrowl-notification .achievement-content {
margin: 10px 5px 5px 60px;
}

.catchPhrase {
  font-style: italic;
}

