#* @vtlvariable name="achievement" type="com.madgnome.jira.plugins.jirachievements.data.ao.Achievement" *#
#set ($done = false)
#foreach($userAchievement in $userAchievements)
  #if ($userAchievement.ref == $achievement.ref)
    #set ($done = true)
  #end
#end

#set($visible = true)
#if (!$achievement.hidden || $done)
  #set($imgUrl = "$req.contextPath/download/resources/com.madgnome.jira.plugins.jirachievements/images/achievements/${achievement.imageRef}.png")
#else
  #set($visible = false)
  #set($imgUrl = "$req.contextPath/download/resources/com.madgnome.jira.plugins.jirachievements/images/achievements/lock.png")
#end

<div class="achievement-full">
  <div class="achievement-image">
    <img src="$imgUrl"
         onerror="this.src='$req.contextPath/download/resources/com.madgnome.jira.plugins.jirachievements/images/achievements/default.png';"/>
  </div>
  <div id="achievement-${achievement.getID()}-tip" class="description-tip" #if ($visible) style="z-index: 10;" #end>&nbsp;</div>
  <div class="achievement-content">
    #if ($visible)
      <h4>
        $achievement.name
      </h4>
      <span>$achievement.catchPhrase</span>
    #else
      <h4>Achievement locked</h4>
      <span>That's a real mystery...</span>
    #end
  </div>
  <div class="achievement-level achievement-${achievement.difficulty.name().toLowerCase()}">&nbsp;</div>
  #if ($done == false)
    <div class="mask">
    </div>
  #end
</div>

#if ($visible)
  <script type="text/javascript">

  AJS.InlineDialog(jQuery("#achievement-${achievement.getID()}-tip"), "achievement-" + $achievement.getID(), function(contents, trigger, showPopup) {
    contents.css({
        width: "auto",
        minWidth: "100px"
    }).addClass("achievement-description");
    contents.empty().append("<div>$achievement.description</div>");

    showPopup();
  }, {onHover:true, offsetY: 5, hideDelay: 500});



  </script>
#end