#* @vtlvariable name="achievements" type="java.util.Map<com.madgnome.jira.plugins.jirachievements.data.ao.Category, java.util.List<com.madgnome.jira.plugins.jirachievements.data.ao.Achievement>>" *#

#macro (categoryAchievements $categoryName)
  <div class="achievements-list">
    #foreach ($achievement in $achievements.get($categoryName))
      #parse ('/templates/com/madgnome/jira/plugins/jirachievements/achievement-detail.vm')
    #end
  </div>
#end

#macro (categoryMeter $categoryName)
  #set ($currentCategory = $achievements.get($categoryName))
  <meter min="0" max="100" value="40">25 /100</meter>
#end

#macro (histogram $percentage)
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    #if ($percentage.intValue() != 0)
        #set ($newPercentage = 5)
        #if ($percentage.intValue() > 5)
            #set ($newPercentage = $percentage.intValue())
        #end
    <tr>
        <td style="width:${newPercentage}%" class="colour-bar-cont" valign="center">
            <div class="colour-bar"></div>
        </td>
        #set ($remainder = 100 - $newPercentage)
        <td  style="width:$remainder%">&nbsp;&nbsp;&nbsp;$percentage%</td>
    </tr>
    #else
    <tr>
        <td width="1px" class="colour-bar-cont" valign="center">
            <div class="colour-bar"></div>
        </td>
        <td>&nbsp;</td>
    </tr>
    #end
</table>
#end

<div id="primary" class="column full">
  <div class="content">
    <div class="module">
      <div class="mod-header">
        <h3>Summary</h3>
      </div>
      <div class="mod-content">
        <table class="levels" style="width: 100%">
          <tbody>
            <tr>
              <td class="icon level user${userLevel.number}">&nbsp;</td>
              <td class="name"><span class="level">Level ${userLevel.number}</span> - User</td>
              <td class="count">$userStatistic.value</td>
              <td class="graph last">
                #histogram($userPercentage)
              </td>
            </tr>
            <tr class="rowAlternateLightGray">
              <td class="icon level developer${developerLevel.number}">&nbsp;</td>
              <td class="name"><span class="level">Level ${developerLevel.number}</span> - Developer</td>
              <td class="count">$developerStatistic.value</td>
              <td class="graph last">
                #histogram($developerPercentage)
              </td>
            </tr>
            <tr class="">
              <td class="icon level tester${testerLevel.number}">&nbsp;</td>
              <td class="name"><span class="level">Level ${testerLevel.number}</span> - Tester</td>
              <td class="count">$testerStatistic.value</td>
              <td class="graph last">
                #histogram($testerPercentage)
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="content">
    <div class="module">
      <div class="mod-header">
        <h3>Details</h3>
      </div>

      <div class="mod-content" id="achievements-details">
        <div class="aui-tabs horizontal-tabs" id="horizontal">
          <ul class="tabs-menu">
            <li class="menu-item active-tab first">
              <a href="#horizontal-first"><strong>User</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-second"><strong>Developer</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-third"><strong>Tester</strong></a>
            </li>
          </ul>
          <div class="tabs-pane active-pane" id="horizontal-first">
            #categoryAchievements("user")
          </div>
          <div class="tabs-pane" id="horizontal-second">
            #categoryAchievements("developer")
          </div>
          <div class="tabs-pane" id="horizontal-third">
            #categoryAchievements("tester")
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {

    jQuery('#achievements-details').bind('tabSelect', function() {
      jQuery('.active-pane > .achievements-list').masonry({
        singleMode: true,
        itemSelector : '.achievement-full'
      });
    });

    jQuery('.active-pane > .achievements-list').masonry({
      singleMode: true,
      itemSelector : '.achievement-full'
    });
  });
</script>
