#* @vtlvariable name="achievements" type="java.util.Map<com.madgnome.jira.plugins.jirachievements.data.ao.Category, java.util.List<com.madgnome.jira.plugins.jirachievements.data.ao.Achievement>>" *#

#macro (categoryAchievements $categoryName)
  <div class="achievements-list">
    #foreach ($achievement in $achievements.get($categoryName))
      #parse ('/templates/com/madgnome/jira/plugins/jirachievements/achievement-detail.vm')
    #end
  </div>
#end

#macro (categoryMeter $categoryName)
  #set ($currentCategory = $achievements.get($categoryName))
  <meter min="0" max="100" value="40">25 /100</meter>
#end

<div class="content">
  <div class="module">
    <div class="mod-header">
      <h3>Summary</h3>
    </div>
    <div class="mod-content">
      <div class="achievements-summary">
        <dl class="table-display">
          <dt>User</dt>
          <dd><p><meter min="0" max="100" value="40">25 /100</meter></p></dd>
          <dt>Developer</dt>
          <dd><p><meter min="0" max="100" value="25">25 /100</meter></p></dd>
          <dt>Tester</dt>
          <dd><p><meter min="0" max="100" value="5">25 /100</meter></p></dd>
          <dt>Agilist</dt>
          <dd><p><meter min="0" max="100" value="0">25 /100</meter></p></dd>
        </dl>
      </div>
    </div>
  </div>


</div>
<div class="content">
  <div class="module">
    <div class="mod-header">
      <h3>Details</h3>
    </div>

    <div class="mod-content" id="achievements-details">
      <div class="aui-tabs horizontal-tabs" id="horizontal">
        <ul class="tabs-menu">
          <li class="menu-item active-tab first">
            <a href="#horizontal-first"><strong>User</strong></a>
          </li>
          <li class="menu-item">
            <a href="#horizontal-second"><strong>Developer</strong></a>
          </li>
          <li class="menu-item">
            <a href="#horizontal-third"><strong>Tester</strong></a>
          </li>
          <li class="menu-item">
            <a href="#horizontal-fourth"><strong>Agilist</strong></a>
          </li>
        </ul>
        <div class="tabs-pane active-pane" id="horizontal-first">
          #categoryAchievements("USER")
        </div>
        <div class="tabs-pane" id="horizontal-second">
          #categoryAchievements("DEVELOPER")
        </div>
        <div class="tabs-pane" id="horizontal-third">
          #categoryAchievements("TESTER")
        </div>
        <div class="tabs-pane" id="horizontal-fourth">
          #categoryAchievements("AGILIST")
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {

  jQuery('#achievements-details').bind('tabSelect', function() {
    jQuery('.active-pane > .achievements-list').masonry({
      singleMode: true,
      itemSelector : '.achievement-full'
    });
  });

  jQuery('.active-pane > .achievements-list').masonry({
      singleMode: true,
      itemSelector : '.achievement-full'
    });
  });
</script>
