#* @vtlvariable name="resolvedCount" type="java.util.List<com.madgnome.jira.plugins.jirachievements.data.ao.ProjectStatistic>" *#
#macro (histogram $percentage)
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  #if ($percentage.intValue() != 0)
    #set ($newPercentage = 5)
    #if ($percentage.intValue() > 5)
      #set ($newPercentage = $percentage.intValue())
    #end
  <tr>
    <td style="width:${newPercentage}%" class="colour-bar-cont" valign="center">
      <div class="colour-bar"></div>
    </td>
    #set ($remainder = 100 - $newPercentage)
    <td  style="width:$remainder%">&nbsp;&nbsp;&nbsp;$percentage%</td>
  </tr>
  #else
  <tr>
    <td width="1px" class="colour-bar-cont" valign="center">
      <div class="colour-bar"></div>
    </td>
    <td>&nbsp;</td>
  </tr>
  #end
</table>
#end

#macro (userLink $entry $showAvatar)
  <a rel="$entry.username"
     #if ($showAvatar)
     class="user-hover user-avatar"
     style="background-image:url('${projectStatistic.smallAvatarUrl}')"
     #end
     href="${baseurl}/secure/ViewProfile.jspa?name=$entry.username">
    $entry.username
  </a>
#end

#macro (leaderboardTable $listLeaderBoard)
<table>
  <tbody>
    #foreach ($projectStatistic in $listLeaderBoard)
      <tr>
        <td class="name">
          #userLink($projectStatistic true)
        </td>
        <td class="count">$projectStatistic.count</td>
        <td class="graph last">#histogram($projectStatistic.percentage)</td>
      </tr>
    #end
  </tbody>
</table>
#end

<div id="primary" class="column full">
  <div class="content">
    <div class="module">
      <div class="mod-header">
        <h3>Designated users</h3>
      </div>

      <div class="mod-content">
        <table style="width: 100%; text-align: center">
          <tbody>
            <tr style="font-weight: bold;">
              <td>User</td>
              <td>Developer</td>
              <td>Tester</td>
            </tr>
            <tr>
              <td><img src="$createdIssueLB.get(0).largeAvatarUrl"/></td>
              <td><img src="$resolvedIssueLB.get(0).largeAvatarUrl"/></td>
              <td><img src="$testedIssueLB.get(0).largeAvatarUrl"/></td>
            </tr>
            <tr>
              <td>#userLink($createdIssueLB.get(0) false)</td>
              <td>#userLink($resolvedIssueLB.get(0) false)</td>
              <td>#userLink($testedIssueLB.get(0) false)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="module">
      <div class="mod-header">
        <h3>Details</h3>
      </div>
      <div class="mod-content">
        <div class="aui-tabs horizontal-tabs" id="horizontal">
          <ul class="tabs-menu">
            <li class="menu-item active-tab first">
              <a href="#horizontal-first"><strong>User</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-second"><strong>Developer</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-third"><strong>Tester</strong></a>
            </li>
          </ul>
          <div class="tabs-pane active-pane" id="horizontal-first">
            #leaderboardTable($createdIssueLB)
          </div>
          <div class="tabs-pane" id="horizontal-second">
            #leaderboardTable($resolvedIssueLB)
          </div>
          <div class="tabs-pane" id="horizontal-third">
            #leaderboardTable($testedIssueLB)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
