#macro (histogram $percentage)
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    #if ($percentage.intValue() != 0)
        #set ($newPercentage = 5)
        #if ($percentage.intValue() > 5)
            #set ($newPercentage = $percentage.intValue())
        #end
    <tr>
        <td style="width:${newPercentage}%" class="colour-bar-cont" valign="center">
            <div class="colour-bar"></div>
        </td>
        #set ($remainder = 100 - $newPercentage)
        <td  style="width:$remainder%">&nbsp;&nbsp;&nbsp;$percentage%</td>
    </tr>
    #else
    <tr>
        <td width="1px" class="colour-bar-cont" valign="center">
            <div class="colour-bar"></div>
        </td>
        <td>&nbsp;</td>
    </tr>
    #end
</table>
#end

<div id="primary" class="column">
  <div class="content">
    <div class="module">
      <div class="mod-header">
        <h3>Designated users</h3>
      </div>

      <div class="mod-content">
        <table style="width: 100%; text-align: center">
          <tbody>
            <tr style="font-weight: bold;">
              <td>User</td>
              <td>Developer</td>
              <td>Tester</td>
              <td>Agilist</td>
            </tr>
            <tr>
              <td><img src="http://localhost:2990/jira/secure/useravatar?size=large&avatarId=10138"/></td>
              <td><img src="http://localhost:2990/jira/secure/useravatar?size=large&avatarId=10140"/></td>
              <td><img src="http://localhost:2990/jira/secure/useravatar?size=large&avatarId=10136"/></td>
              <td><img src="http://localhost:2990/jira/secure/useravatar?size=large&avatarId=10128"/></td>
            </tr>
            <tr>
              <td>JHU</td>
              <td>NBC</td>
              <td>FBT</td>
              <td>SFS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="module">
      <div class="mod-header">
        <h3>Details</h3>
      </div>
      <div class="mod-content">
        <div class="aui-tabs horizontal-tabs" id="horizontal">
          <ul class="tabs-menu">
            <li class="menu-item active-tab first">
              <a href="#horizontal-first"><strong>User</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-second"><strong>Developer</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-third"><strong>Tester</strong></a>
            </li>
            <li class="menu-item">
              <a href="#horizontal-fourth"><strong>Agilist</strong></a>
            </li>
          </ul>
          <div class="tabs-pane active-pane" id="horizontal-first">
            <table>
              <tbody>
                <tr>
                  <td class="name">JHU</td>
                  <td>#histogram(60)</td>
                </tr>
                <tr class="rowAlternateLightGray">
                  <td class="name">SFS</td>
                  <td>#histogram(20)</td>
                </tr>
                <tr class="">
                  <td class="name">NBC</td>
                  <td>#histogram(12)</td>
                </tr>
                <tr class="rowAlternateLightGray">
                  <td class="name">FBT</td>
                  <td>#histogram(8)</td>
                </tr>
                <tr class="">
                  <td class="name">JRT</td>
                  <td>#histogram(0)</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tabs-pane" id="horizontal-second">
          </div>
          <div class="tabs-pane" id="horizontal-third">
          </div>
          <div class="tabs-pane" id="horizontal-fourth">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
