#* @vtlvariable name="action" type="com.madgnome.jira.plugins.jirachievements.ui.action.admin.ViewGlobalConfiguration" *#
<table class="jiraform maxWidth">
  <tbody>
  <tr>
    <td class="jiraformheader" colspan="3">
      <h3 class="formtitle">Achievements Configuration</h3>
    </td>
  </tr>
  <tr>
    <td class="fieldLabelArea" style="width: 15%; background-color: transparent;">
      Refresh rate:
    </td>
    <td class="fieldValueArea" style="width:40%">
      <div class="slider-container" style="margin: 5px;">
        <div id="achievements-refreshrate"></div>
      </div>
      <font size="1">
        Determines the refresh rate of achievements calculation. New achievement will arrive at this rate.
      </font>
    </td>
    <td style="vertical-align: top;">
      <span id="achievements-refreshrate-value">3 hour</span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="selectionConfig">
        #set ($achievements = $action.achievementsByCategory)
        #parse("/templates/com/madgnome/jira/plugins/jirachievements/config/achievements-selection.vm")
      </div>
    </td>
  </tr>
  </tbody>
</table>

<script type="text/javascript">
  jQuery( "#achievements-refreshrate" ).slider({
    min: 0.25,
    max: 24,
    value: $action.achievementRefreshRate / 60,
    step: 0.25,
    change: function( event, ui ) {
      jQuery("#achievements-refreshrate-value").html(ui.value + ' hour(s)');
    },
    slide: function( event, ui ) {
      jQuery("#achievements-refreshrate-value").html(ui.value + ' hour(s)');
    },
    stop: function(event, ui) {
      jQuery.ajax({
        url: AJS.params.baseURL + '/rest/jirachievement/1.0/configs/achievements_refresh_rate',
        type: 'PUT',
        data: {
          value: ui.value*60
        }
      });
      jQuery.ajax({
        url: AJS.params.baseURL + '/rest/jirachievement/1.0/configs/resetjob',
        type: 'PUT',
        data: {
          job: "CheckRules"
        }
      });
    }
  });

  jQuery( "#achievements-refreshrate" ).slider('value', $action.achievementRefreshRate / 60);
</script>