#* @vtlvariable name="action" type="com.madgnome.jira.plugins.jirachievements.ui.action.admin.ViewGlobalConfiguration" *#
<html>
<head>
  <title>JIRA Hero Configuration</title>
  <meta name="admin.active.section" content="agile_section/jh-config-websection">
  <meta name="admin.active.tab" content="jh-config-webfragment">
</head>

<body>
#if ($action.hasPermissions())
  #parse("/templates/com/madgnome/jira/plugins/jirachievements/config/achievements-config.vm")

  #parse("/templates/com/madgnome/jira/plugins/jirachievements/config/levels-config.vm")
  
#else
  #parse("/templates/com/madgnome/jira/plugins/jirachievements/config/no-privilege.vm")
#end 

</body>
</html>


